body, h1, h2, h3, h4, h5, h6 {
	font-family: Roboto;
}

#topmenu {
	position: fixed !important;
}

.w3-row-padding img {
	margin-bottom: 12px;
}

.w3-sidebar {
	right: 0px;
	width: 100px;
}

#sections {
	margin-right: 120px;
}

#darkMode {
	cursor: pointer;
}

hr {
	width: 50%;
	height: 5px;
}

input {
	width: 50%;
}

@media only screen and (max-width: 600px) {
	#sections {
		margin-right: 0px;
	}
}
