<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Professor</title>
</head>
<style>
    table#tabela1 tr td {
        background: #ffc;
    }
    
    table#tabela1 tr.header td {
        background: #eee;
    }
</style>
<body>
    <h1>Professor</h1>
    <p>Professor da fatec:</p>
    <table border="1px" cellpadding="5px" cellspacing="0" ID="tabela1">
        <tr class="header">
        <td>ID</td>
        <td>Nome</td>
        <td>E-Mail</td>
        </tr>

        <% console.log('QUANTIDADE DE REGISTROS--' + data.length); %>

        <% for(var i = 0; i < data.length; i++){ %>
        <tr>
        <td><%= data[i].ID_PROFESSOR %></td>
        <td><%= data[i].NOME_PROFESSOR %></td>
        <td><%= data[i].EMAIL_PROFESSOR %></td>
        </tr>

        <% } %>

        </table>
</body>
</html>