<footer class="w3-center w3-padding-large w3-padding-top-64" title="Scroll to Top">
	<a href="#">
		<img class="w3-image" src="assets/icons/feather/chevrons-up.svg" alt="arrows-up" /> Scroll to top
	</a>
</footer>
