<nav id="sidemenu" class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
	<a href="#work" class="w3-hover-light-gray w3-bar-item w3-button w3-padding-large">
		<img class="w3-image" src="assets/icons/feather/airplay.svg" alt="airplay"/>
		Work
	</a>
	<a href="#about" class="w3-hover-light-gray w3-bar-item w3-button w3-padding-large">
		<img class="w3-image" src="assets/icons/feather/book-open.svg" alt="book-open"/>
		About
	</a>
	<a href="#contact" class="w3-hover-light-gray w3-bar-item w3-button w3-padding-large">
		<img class="w3-image" src="assets/icons/feather/inbox.svg" alt="inbox"/>
		Contact
	</a>
</nav>
<div id="sidemenu__dark-mode" title="Toggle Dark Mode" class="w3-padding-large" onclick="toggleDarkMode()">
	<img class="w3-image" src="assets/icons/feather/moon.svg" alt="moon"/>
	<img class="w3-image w3-hide-small" src="assets/icons/feather/sun.svg" alt="sun"/>
</div>
