<div class="w3-bar w3-white w3-opacity w3-hover-opacity-off w3-center w3-small">
	<img
		onclick="toggleTopMenuOptions(this)"
		class="topmenu__item w3-bar-item w3-button w3-hover-light-gray"
		src="assets/icons/feather/menu.svg"
		alt="menu" />
	<a hidden href="#work" class="topmenu__item w3-bar-item w3-button w3-hover-light-gray">
		Work
	</a>
	<a hidden href="#about" class="topmenu__item w3-bar-item w3-button w3-hover-light-gray">
		About
	</a>
	<a hidden href="#contact" class="topmenu__item w3-bar-item w3-button w3-hover-light-gray">
		Contact
	</a>
</div>
